__pycache__/
.pytest_cache/
.mypy_cache/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
node_modules/
dist/
.DS_Store
*.log
*.sqlite
.idea
hf_token_temp
WhisperLiveKit/hf_token_temp
./WhisperLiveKit/hf_token_temp
.env